<li>
  <div class="brand-item" data-id=<%= brand.id %> data-name="<%= brand.name %>">
    <%= brand.name %> - <%= brand.location %>
  </div>
  <button class="btn" id="edit-brand">Edit</button>
  <button class="btn" id="delete-brand">Delete</button>
</li> 
